*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;  
}
body{
    background-color: #FCF596;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70px;
}
.main{
    height: 800px;
    width: 1400px;
    background-image: url('t5.jpeg');
    background-size: cover;
    border-radius: 10px;
    color: #FCF596;
    font-weight: 700;
}
.tasksbar{
    height: 200px;
    width: auto;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ta{
    height: auto;
    width: auto;
    margin: 10px;
    
}
.ta{
    height: auto;
    width: auto;
    margin: 10px;
}
.da{
    height: auto;
    width: auto;
    margin: 10px;
}

p{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 60px;
}
input{
    height: 40px;
    width: 300px;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    border: solid white 2px;
}
button{
    height: 40px;
    width: 120px;font-size: 22px;
    border-radius: 10px;
    border: solid white 2px;
}
.output1{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    font-size: 20px;
}
.output{
    height: 450px;
    width: 1000px;
    background-color:white;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    
}